{% extends "base_template.html" %}

{% block content %}
<h1>Сайт</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap"
           data-test="urls">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th>Последняя проверка</th>
        </tr>
        </thead>
        <tbody>
        {% for url_data in rows %}
        <tr>
            <td>{{ url_data.id }}</td>
            <td><a href="{{ url_for('show_url_page', id_=url_data.id) }}">{{
                url_data.name }}</a></td>
            <td>{{ '' if url_data.created_at is none else
                url_data.created_at.strftime('%Y-%m-%d') }}
            </td>
            <td>{{ '' if url_data.last_check is none else
                url_data.last_check.strftime('%Y-%m-%d') }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}